<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppActivityMapper">
  <resultMap id="BaseResultMap" type="com.industrial.domin.AppActivity">
    <!--@mbg.generated-->
    <!--@Table app_activity-->
    <result property="id"    column="id"    />
    <result property="activityName"    column="activity_name"    />
    <result property="description"    column="description"    />
    <result property="activityAddress"    column="activity_address"    />
    <result property="activityType"    column="activity_type"    />
    <result property="beginTime"    column="begin_time"    />
    <result property="endTime"    column="end_time"    />
    <result property="createTime"    column="create_time"    />
    <result property="activityStatus"    column="activity_status"    />
    <result property="expectedCost"    column="expected_cost"    />
    <result property="expectedIncome"    column="expected_income"    />
    <result property="headUser"    column="head_user"    />
    <result property="topicImgId"    column="topic_img_id"    />
    <result property="headImgId"    column="head_img_id"    />
    <result property="pictureParam"    column="picture_param"    />
    <result property="updateTime"    column="update_time"    />
    <result property="conclusionPerson"    column="conclusion_person"    />
    <result property="enabled"    column="enabled"    />
    <result property="deleted"    column="deleted"    />
    <result property="conclusionTime"    column="conclusion_time"    />
    <result property="actualCost"    column="actual_cost"    />
    <result property="realIncome"    column="real_income"    />
    <result property="costRate"    column="cost_rate"    />
    <result property="returnRate"    column="return_rate"    />
    <result property="summaryDesc"    column="summary_desc"    />
    <result property="attachParam"    column="attach_param"    />
    <result property="invalidReason"    column="invalid_reason"    />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, activity_name, description, activity_address, activity_type, begin_time, end_time, create_time, activity_status,
    expected_cost, expected_income, head_user, topic_img_id, head_img_id, picture_param, update_time, conclusion_person,
    enabled, deleted, conclusion_time, actual_cost, real_income, cost_rate, return_rate, summary_desc, attach_param,
    invalid_reason
  </sql>
  <sql id="selectAppActivityVo">
    select id, activity_name, description, activity_address, activity_type, begin_time, end_time, create_time,
           activity_status, expected_cost, expected_income, head_user, topic_img_id, head_img_id, picture_param,
           update_time, conclusion_person, enabled, deleted, conclusion_time, actual_cost, real_income, cost_rate,
           return_rate, summary_desc, attach_param, invalid_reason
    from app_activity
  </sql>

  <select id="selectAppActivityList" parameterType="com.industrial.domin.AppActivity" resultMap="BaseResultMap">
    <include refid="selectAppActivityVo"/>
    <where>
      <if test="activityName != null  and activityName != ''"> and activity_name like concat('%', #{activityName}, '%')</if>
      <if test="activityType != null "> and activity_type = #{activityType}</if>
      <if test="createTime != null "> and create_time = #{createTime}</if>
      <if test="beginTime != null "> and begin_time = #{beginTime}</if>
      <if test="endTime != null "> and end_time = #{endTime}</if>
      <if test="activityStatus != null "> and activity_status = #{activityStatus}</if>
      <if test="headUser != null "> and head_user = #{headUser}</if>
      <if test="enabled != null "> and enabled = #{enabled}</if>
       and deleted = 0
    </where>
  </select>

  <select id="selectAppActivityById" parameterType="Long" resultMap="BaseResultMap">
    <include refid="selectAppActivityVo"/>
    where id = #{id}
  </select>

  <insert id="insertAppActivity" parameterType="com.industrial.domin.AppActivity" useGeneratedKeys="true" keyProperty="id">
    insert into app_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityName != null and activityName != ''">activity_name,</if>
      <if test="description != null and description != ''">description,</if>
      <if test="activityAddress != null and activityAddress != ''">activity_address,</if>
      <if test="activityType != null">activity_type,</if>
      <if test="beginTime != null">begin_time,</if>
      <if test="endTime != null">end_time,</if>
      <if test="createTime != null">create_time,</if>
      <if test="activityStatus != null">activity_status,</if>
      <if test="expectedCost != null">expected_cost,</if>
      <if test="expectedIncome != null">expected_income,</if>
      <if test="headUser != null">head_user,</if>
      <if test="topicImgId != null">topic_img_id,</if>
      <if test="headImgId != null">head_img_id,</if>
      <if test="pictureParam != null">picture_param,</if>
      <if test="updateTime != null">update_time,</if>
      <if test="conclusionPerson != null">conclusion_person,</if>
      <if test="enabled != null">enabled,</if>
      <if test="deleted != null">deleted,</if>
      <if test="conclusionTime != null">conclusion_time,</if>
      <if test="actualCost != null">actual_cost,</if>
      <if test="realIncome != null">real_income,</if>
      <if test="costRate != null">cost_rate,</if>
      <if test="returnRate != null">return_rate,</if>
      <if test="summaryDesc != null">summary_desc,</if>
      <if test="attachParam != null">attach_param,</if>
      <if test="invalidReason != null">invalid_reason,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityName != null and activityName != ''">#{activityName},</if>
      <if test="description != null and description != ''">#{description},</if>
      <if test="activityAddress != null and activityAddress != ''">#{activityAddress},</if>
      <if test="activityType != null">#{activityType},</if>
      <if test="beginTime != null">#{beginTime},</if>
      <if test="endTime != null">#{endTime},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="activityStatus != null">#{activityStatus},</if>
      <if test="expectedCost != null">#{expectedCost},</if>
      <if test="expectedIncome != null">#{expectedIncome},</if>
      <if test="headUser != null">#{headUser},</if>
      <if test="topicImgId != null">#{topicImgId},</if>
      <if test="headImgId != null">#{headImgId},</if>
      <if test="pictureParam != null">#{pictureParam},</if>
      <if test="updateTime != null">#{updateTime},</if>
      <if test="conclusionPerson != null">#{conclusionPerson},</if>
      <if test="enabled != null">#{enabled},</if>
      <if test="deleted != null">#{deleted},</if>
      <if test="conclusionTime != null">#{conclusionTime},</if>
      <if test="actualCost != null">#{actualCost},</if>
      <if test="realIncome != null">#{realIncome},</if>
      <if test="costRate != null">#{costRate},</if>
      <if test="returnRate != null">#{returnRate},</if>
      <if test="summaryDesc != null">#{summaryDesc},</if>
      <if test="attachParam != null">#{attachParam},</if>
      <if test="invalidReason != null">#{invalidReason},</if>
    </trim>
    SELECT LAST_INSERT_ID();
  </insert>

  <update id="updateAppActivity" parameterType="com.industrial.domin.AppActivity">
    update app_activity
    <trim prefix="SET" suffixOverrides=",">
      <if test="activityName != null and activityName != ''">activity_name = #{activityName},</if>
      <if test="description != null and description != ''">description = #{description},</if>
      <if test="activityAddress != null and activityAddress != ''">activity_address = #{activityAddress},</if>
      <if test="activityType != null">activity_type = #{activityType},</if>
      <if test="beginTime != null">begin_time = #{beginTime},</if>
      <if test="endTime != null">end_time = #{endTime},</if>
      <if test="createTime != null">create_time = #{createTime},</if>
      <if test="activityStatus != null">activity_status = #{activityStatus},</if>
      <if test="expectedCost != null">expected_cost = #{expectedCost},</if>
      <if test="expectedIncome != null">expected_income = #{expectedIncome},</if>
      <if test="headUser != null">head_user = #{headUser},</if>
      <if test="topicImgId != null">topic_img_id = #{topicImgId},</if>
      <if test="headImgId != null">head_img_id = #{headImgId},</if>
      <if test="pictureParam != null">picture_param = #{pictureParam},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
      <if test="conclusionPerson != null">conclusion_person = #{conclusionPerson},</if>
      <if test="enabled != null">enabled = #{enabled},</if>
      <if test="deleted != null">deleted = #{deleted},</if>
      <if test="conclusionTime != null">conclusion_time = #{conclusionTime},</if>
      <if test="actualCost != null">actual_cost = #{actualCost},</if>
      <if test="realIncome != null">real_income = #{realIncome},</if>
      <if test="costRate != null">cost_rate = #{costRate},</if>
      <if test="returnRate != null">return_rate = #{returnRate},</if>
      <if test="summaryDesc != null">summary_desc = #{summaryDesc},</if>
      <if test="attachParam != null">attach_param = #{attachParam},</if>
      <if test="invalidReason != null">invalid_reason = #{invalidReason},</if>
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteAppActivityById" parameterType="Long">
    delete from app_activity where id = #{id}
  </delete>

  <delete id="deleteAppActivityByIds" parameterType="String">
    delete from app_activity where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>