<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppCheckMainConfigMapper">
    <resultMap id="BaseResultMap" type="com.industrial.domin.AppCheckMainConfig">
        <result property="id"    column="id"    />
        <result property="checkType"    column="check_type"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <resultMap type="com.industrial.domin.AppCheckMainConfig" id="AppCheckMainConfigResult">
        <result property="id"    column="id"    />
        <result property="checkType"    column="check_type"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.industrial.common.dto.CheckDto" id="AppCheckMainSubConfigResult">
        <result property="id"    column="id"    />
        <result property="checkType"    column="check_type"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="cid"    column="cid"    />
        <result property="clevel"    column="clevel"    />
        <result property="ctype"    column="ctype"    />
        <result property="subAddTime"    column="subAddTime"    />
        <result property="subUpdateTime"    column="subUpdateTime"    />
    </resultMap>

    <sql id="selectAppCheckMainConfigVo">
        select id, check_type, check_status, add_time, update_time from app_check_main_config
    </sql>

    <select id="selectAppCheckMainConfigList" parameterType="com.industrial.domin.AppCheckMainConfig" resultMap="AppCheckMainConfigResult">
        <include refid="selectAppCheckMainConfigVo"/>
        <where>  
            <if test="checkType != null "> and check_type = #{checkType}</if>
            <if test="checkStatus != null "> and check_status = #{checkStatus}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
        </where>
    </select>

    <select id="selectAppCheckMainSubList" parameterType="com.industrial.common.dto.CheckDto" resultMap="AppCheckMainSubConfigResult">
        select cmc.id, cmc.check_type, cmc.check_status, cmc.add_time, cmc.update_time,
        scc.id as cid,scc.ctype,scc.clevel,scc.add_time as subAddTime,scc.update_time as subUpdateTime
        from app_check_main_config cmc
        LEFT JOIN app_sub_check_config scc ON scc.config_id=cmc.id
        <where>
            <if test="id != null "> and cmc.id = #{id}</if>
            <if test="cid != null "> and scc.id = #{cid}</if>
            <if test="checkType != null "> and cmc.check_type = #{checkType}</if>
            <if test="checkStatus != null "> and cmc.check_status = #{checkStatus}</if>
            <if test="addTime != null "> and cmc.add_time = #{addTime}</if>
            <if test="ctype != null "> and scc.ctype = #{ctype}</if>
            <if test="clevel != null "> and scc.clevel = #{clevel}</if>
        </where>
    </select>
    
    <select id="selectAppCheckMainConfigById" parameterType="Long" resultMap="AppCheckMainConfigResult">
        <include refid="selectAppCheckMainConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppCheckMainConfig" parameterType="com.industrial.domin.AppCheckMainConfig" useGeneratedKeys="true" keyProperty="id">
        insert into app_check_main_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="checkType != null">check_type,</if>
            <if test="checkStatus != null">check_status,</if>
            <if test="addTime != null">add_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="checkType != null">#{checkType},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAppCheckMainConfig" parameterType="com.industrial.domin.AppCheckMainConfig">
        update app_check_main_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="checkType != null">check_type = #{checkType},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppCheckMainConfigById" parameterType="Long">
        delete from app_check_main_config where id = #{id}
    </delete>

    <delete id="deleteAppCheckMainConfigByIds" parameterType="String">
        delete from app_check_main_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>