<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppOrderMapper">
  <resultMap id="BaseResultMap" type="com.industrial.entity.AppOrder">
    <!--@mbg.generated-->
    <!--@Table app_order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_manager" jdbcType="INTEGER" property="userManager" />
    <result column="user_engineer" jdbcType="INTEGER" property="userEngineer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="snap_img" jdbcType="VARCHAR" property="snapImg" />
    <result column="snap_nam" jdbcType="VARCHAR" property="snapNam" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="snap_items" jdbcType="VARCHAR" property="snapItems" />
    <result column="snap_address" jdbcType="VARCHAR" property="snapAddress" />
    <result column="prepay_id" jdbcType="VARCHAR" property="prepayId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_no, user_id, user_manager, user_engineer, create_time, total_price, `status`, 
    snap_img, snap_nam, total_count, update_time, snap_items, snap_address, prepay_id, 
    deleted
  </sql>
</mapper>