<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppProductCategoryMapper">
    <resultMap type="com.industrial.entity.AppProductCategory" id="AppProductCategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="productType"    column="product_type"    />
        <result property="categoryCode"    column="category_code"    />
        <result property="mnemonicCode"    column="mnemonic_code"    />
        <result property="topicImgId"    column="topic_img_id"    />
        <result property="description"    column="description"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>
    <resultMap type="com.industrial.common.dto.CategoryDto" id="CategoryResult" extends="AppProductCategoryResult">
        <result property="dictLabel"    column="dict_label"    />
    </resultMap>

    <sql id="selectAppProductCategoryVo">
        select id, name, product_type, category_code, mnemonic_code, topic_img_id, description, p.update_time, delete_time, deleted,d.dict_label
        from app_product_category p
        left join sys_dict_data d ON d.dict_value = p.product_type and dict_type='dict_cate_type'
    </sql>

    <select id="selectAppProductCategoryList" parameterType="AppProductCategory" resultMap="CategoryResult">
        <include refid="selectAppProductCategoryVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="productType != null "> and product_type = #{productType}</if>
            <if test="categoryCode != null  and categoryCode != ''"> and category_code = #{categoryCode}</if>
            <if test="mnemonicCode != null  and mnemonicCode != ''"> and mnemonic_code = #{mnemonicCode}</if>
            <if test="topicImgId != null "> and topic_img_id = #{topicImgId}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="deleteTime != null "> and delete_time = #{deleteTime}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectAppProductCategoryById" parameterType="Long" resultMap="AppProductCategoryResult">
        <include refid="selectAppProductCategoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppProductCategory" parameterType="AppProductCategory" useGeneratedKeys="true" keyProperty="id">
        insert into app_product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="productType != null">product_type,</if>
            <if test="categoryCode != null and categoryCode != ''">category_code,</if>
            <if test="mnemonicCode != null">mnemonic_code,</if>
            <if test="topicImgId != null">topic_img_id,</if>
            <if test="description != null">description,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteTime != null">delete_time,</if>
            <if test="deleted != null">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="productType != null">#{productType},</if>
            <if test="categoryCode != null and categoryCode != ''">#{categoryCode},</if>
            <if test="mnemonicCode != null">#{mnemonicCode},</if>
            <if test="topicImgId != null">#{topicImgId},</if>
            <if test="description != null">#{description},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
            <if test="deleted != null">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateAppProductCategory" parameterType="AppProductCategory">
        update app_product_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="productType != null">product_type = #{productType},</if>
            <if test="categoryCode != null and categoryCode != ''">category_code = #{categoryCode},</if>
            <if test="mnemonicCode != null">mnemonic_code = #{mnemonicCode},</if>
            <if test="topicImgId != null">topic_img_id = #{topicImgId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppProductCategoryById" parameterType="Long">
        delete from app_product_category where id = #{id}
    </delete>

    <delete id="deleteAppProductCategoryByIds" parameterType="String">
        delete from app_product_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>