<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppProductMapper">
  <resultMap id="BaseResultMap" type="com.industrial.entity.AppProduct">
    <!--@mbg.generated-->
    <!--@Table app_product-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="floor_price" jdbcType="DECIMAL" property="floorPrice" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="main_img_url" jdbcType="VARCHAR" property="mainImgUrl" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="img_id" jdbcType="INTEGER" property="imgId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `number`, `name`, category_id, stock, price, contacts, telephone, unit_id, floor_price, 
    `status`, main_img_url, summary, img_id, deleted, create_user_id, create_time, update_time
  </sql>
  <update id="updateStockByProductId">
    UPDATE app_product p
    SET p.stock = #{stock}
    WHERE p.id = #{productId}
  </update>
  <select id="selectProductByKeyword" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM app_product p
    WHERE name LIKE '%'#{keyword}'%'
  </select>
  <select id="selectProductByOrderId" resultMap="BaseResultMap">
    SELECT p.id,
    p.number,
    p.`name`,
    p.category_id,
    p.stock,
    p.price,
    p.contacts,
    p.telephone,
    p.unit_id,
    p.floor_price,
    p.`status`,
    p.main_img_url,
    p.summary,
    p.img_id,
    p.deleted,
    p.create_user_id,
    p.create_time,
    p.update_time
    FROM app_order_product op INNER JOIN app_product p ON op.product_id = p.id
    WHERE op.order_id = #{orderId}
  </select>
</mapper>