<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppProductMapper">
  <resultMap id="BaseResultMap" type="com.industrial.domin.AppProduct">
    <!--@mbg.generated-->
    <!--@Table app_product-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="floor_price" jdbcType="DECIMAL" property="floorPrice" />
    <result column="specifica" jdbcType="VARCHAR" property="specifica" />
    <result column="maintenance" jdbcType="VARCHAR" property="maintenance" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="picture_param" jdbcType="VARCHAR" property="pictureParam" />
    <result column="img_id" jdbcType="INTEGER" property="imgId" />
    <result column="main_img_url" jdbcType="VARCHAR" property="mainImgUrl" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `number`, `name`, category_id, stock, price, contacts, telephone, unit_id, floor_price, 
    specifica, maintenance, `status`, picture_param, img_id, main_img_url, summary, create_user_id, 
    create_time, update_time, enabled, deleted
  </sql>
  <sql id="selectAppProductVo">
    select id, number, name, category_id, stock, price, contacts, telephone, unit_id, floor_price, specifica,
           maintenance, status, picture_param, img_id, main_img_url, summary, deleted, create_user_id,
           create_time, enabled, update_time
    from app_product
  </sql>

  <select id="selectAppProductList" parameterType="com.industrial.domin.AppProduct" resultMap="BaseResultMap">
    <include refid="selectAppProductVo" />
    <where>
      <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
      <if test="categoryId != null "> and category_id = #{categoryId}</if>
      <if test="contacts != null  and contacts != ''"> and contacts = #{contacts}</if>
      <if test="status != null "> and status = #{status}</if>
      <if test="enabled != null "> and enabled = #{enabled}</if>
    </where>
  </select>

  <select id="selectAppProductById" parameterType="Long" resultMap="BaseResultMap">
    <include refid="selectAppProductVo" />
    where id = #{id}
  </select>

  <insert id="insertAppProduct" keyProperty="id" parameterType="com.industrial.domin.AppProduct" useGeneratedKeys="true">
    insert into app_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null and number != ''">number,</if>
      <if test="name != null and name != ''">name,</if>
      <if test="categoryId != null">category_id,</if>
      <if test="stock != null">stock,</if>
      <if test="price != null">price,</if>
      <if test="contacts != null">contacts,</if>
      <if test="telephone != null">telephone,</if>
      <if test="unitId != null and unitId != ''">unit_id,</if>
      <if test="floorPrice != null">floor_price,</if>
      <if test="specifica != null and specifica != ''">specifica,</if>
      <if test="maintenance != null and maintenance != ''">maintenance,</if>
      <if test="status != null">status,</if>
      <if test="pictureParam != null">picture_param,</if>
      <if test="imgId != null">img_id,</if>
      <if test="mainImgUrl != null">main_img_url,</if>
      <if test="summary != null">summary,</if>
      <if test="deleted != null">deleted,</if>
      <if test="createUserId != null">create_user_id,</if>
      <if test="createTime != null">create_time,</if>
      <if test="enabled != null">enabled,</if>
      <if test="updateTime != null">update_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null and number != ''">#{number},</if>
      <if test="name != null and name != ''">#{name},</if>
      <if test="categoryId != null">#{categoryId},</if>
      <if test="stock != null">#{stock},</if>
      <if test="price != null">#{price},</if>
      <if test="contacts != null">#{contacts},</if>
      <if test="telephone != null">#{telephone},</if>
      <if test="unitId != null and unitId != ''">#{unitId},</if>
      <if test="floorPrice != null">#{floorPrice},</if>
      <if test="specifica != null and specifica != ''">#{specifica},</if>
      <if test="maintenance != null and maintenance != ''">#{maintenance},</if>
      <if test="status != null">#{status},</if>
      <if test="pictureParam != null">#{pictureParam},</if>
      <if test="imgId != null">#{imgId},</if>
      <if test="mainImgUrl != null">#{mainImgUrl},</if>
      <if test="summary != null">#{summary},</if>
      <if test="deleted != null">#{deleted},</if>
      <if test="createUserId != null">#{createUserId},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="enabled != null">#{enabled},</if>
      <if test="updateTime != null">#{updateTime},</if>
    </trim>
  </insert>

  <update id="updateAppProduct" parameterType="com.industrial.domin.AppProduct">
    update app_product
    <trim prefix="SET" suffixOverrides=",">
      <if test="number != null and number != ''">number = #{number},</if>
      <if test="name != null and name != ''">name = #{name},</if>
      <if test="categoryId != null">category_id = #{categoryId},</if>
      <if test="stock != null">stock = #{stock},</if>
      <if test="price != null">price = #{price},</if>
      <if test="contacts != null">contacts = #{contacts},</if>
      <if test="telephone != null">telephone = #{telephone},</if>
      <if test="unitId != null and unitId != ''">unit_id = #{unitId},</if>
      <if test="floorPrice != null">floor_price = #{floorPrice},</if>
      <if test="specifica != null and specifica != ''">specifica = #{specifica},</if>
      <if test="maintenance != null and maintenance != ''">maintenance = #{maintenance},</if>
      <if test="status != null">status = #{status},</if>
      <if test="pictureParam != null">picture_param = #{pictureParam},</if>
      <if test="imgId != null">img_id = #{imgId},</if>
      <if test="mainImgUrl != null">main_img_url = #{mainImgUrl},</if>
      <if test="summary != null">summary = #{summary},</if>
      <if test="deleted != null">deleted = #{deleted},</if>
      <if test="createUserId != null">create_user_id = #{createUserId},</if>
      <if test="createTime != null">create_time = #{createTime},</if>
      <if test="enabled != null">enabled = #{enabled},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteAppProductById" parameterType="Long">
    delete from app_product where id = #{id}
  </delete>

  <delete id="deleteAppProductByIds" parameterType="String">
    delete from app_product where id in
    <foreach close=")" collection="array" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>

  <update id="updateStockByProductId">
    UPDATE app_product p
    SET p.stock = #{stock}
    WHERE p.id = #{productId}
  </update>
  <select id="selectProductByKeyword" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM app_product p
    WHERE name LIKE '%'#{keyword}'%'
  </select>
  <select id="selectProductByOrderId" resultMap="BaseResultMap">
    SELECT p.id,
    p.number,
    p.`name`,
    p.category_id,
    p.stock,
    p.price,
    p.contacts,
    p.telephone,
    p.unit_id,
    p.floor_price,
    p.`status`,
    p.main_img_url,
    p.summary,
    p.img_id,
    p.deleted,
    p.create_user_id,
    p.create_time,
    p.update_time
    FROM app_order_product op INNER JOIN app_product p ON op.product_id = p.id
    WHERE op.order_id = #{orderId}
  </select>
</mapper>