<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppReviewMapper">
  <resultMap id="BaseResultMap" type="com.industrial.domin.AppReview">
    <!--@mbg.generated-->
    <!--@Table app_review-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="record" jdbcType="VARCHAR" property="record" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, msg, record, deleted, create_time
  </sql>
</mapper>