<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppSubCheckConfigMapper">
    
    <resultMap type="com.industrial.domin.AppSubCheckConfig" id="AppSubCheckConfigResult">
        <result property="configId"    column="config_id"    />
        <result property="ctype"    column="ctype"    />
        <result property="clevel"    column="clevel"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAppSubCheckConfigVo">
        select  config_id, ctype, clevel, add_time, update_time from app_sub_check_config
    </sql>

    <select id="selectAppSubCheckConfigList" parameterType="com.industrial.domin.AppSubCheckConfig" resultMap="AppSubCheckConfigResult">
        <include refid="selectAppSubCheckConfigVo"/>
        <where>  
            <if test="configId != null "> and config_id = #{configId}</if>
            <if test="ctype != null "> and ctype = #{ctype}</if>
            <if test="clevel != null "> and clevel = #{clevel}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
        </where>
        order by clevel ASC
    </select>
    
    <select id="selectAppSubCheckConfigById" parameterType="Long" resultMap="AppSubCheckConfigResult">
        <include refid="selectAppSubCheckConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppSubCheckConfig" parameterType="com.industrial.domin.AppSubCheckConfig" useGeneratedKeys="true" keyProperty="id">
        insert into app_sub_check_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configId != null">config_id,</if>
            <if test="ctype != null">ctype,</if>
            <if test="clevel != null">clevel,</if>
            <if test="addTime != null">add_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configId != null">#{configId},</if>
            <if test="ctype != null">#{ctype},</if>
            <if test="clevel != null">#{clevel},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAppSubCheckConfig" parameterType="com.industrial.domin.AppSubCheckConfig">
        update app_sub_check_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="configId != null">config_id = #{configId},</if>
            <if test="ctype != null">ctype = #{ctype},</if>
            <if test="clevel != null">clevel = #{clevel},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where config_id = #{config_id}
    </update>

    <delete id="deleteAppSubCheckConfigById" parameterType="Long">
        delete from app_sub_check_config where config_id = #{id}
    </delete>

    <delete id="deleteAppSubCheckConfigByConfigId" parameterType="Long">
        delete from app_sub_check_config where config_id = #{id}
    </delete>

    <delete id="deleteAppSubCheckConfigByIds" parameterType="String">
        delete from app_sub_check_config where config_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>