<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppUserMapper">
    
    <resultMap type="com.industrial.entity.AppUser" id="AppUserResult">
        <result property="id"    column="id"    />
        <result property="openid"    column="openid"    />
        <result property="company"    column="company"    />
        <result property="clientCode"    column="client_code"    />
        <result property="brief"    column="brief"    />
        <result property="registrant"    column="registrant"    />
        <result property="registratTime"    column="registrat_time"    />
        <result property="nickname"    column="nickname"    />
        <result property="mobile"    column="mobile"    />
        <result property="custType"    column="cust_type"    />
        <result property="companyType"    column="company_type"    />
        <result property="invoiceUp"    column="invoice_up"    />
        <result property="creditCode"    column="credit_code"    />
        <result property="bank"    column="bank"    />
        <result property="bankAccount"    column="bank_account"    />
        <result property="phoneNum"    column="phone_num"    />
        <result property="address"    column="address"    />
        <result property="updateTime"    column="update_time"    />
        <result property="extend"    column="extend"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectAppUserVo">
        select id, openid, company, client_code, brief, registrant, registrat_time, nickname, mobile, cust_type, company_type, invoice_up, credit_code, bank, bank_account, phone_num, address, update_time, extend, deleted from app_user
    </sql>

    <select id="selectAppUserList" parameterType="com.industrial.entity.AppUser" resultMap="AppUserResult">
        <include refid="selectAppUserVo"/>
        <where>  
            <if test="openid != null  and openid != ''"> and openid = #{openid}</if>
            <if test="company != null  and company != ''"> and company = #{company}</if>
            <if test="clientCode != null  and clientCode != ''"> and client_code = #{clientCode}</if>
            <if test="brief != null  and brief != ''"> and brief = #{brief}</if>
            <if test="registrant != null  and registrant != ''"> and registrant = #{registrant}</if>
            <if test="registratTime != null "> and registrat_time = #{registratTime}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="custType != null "> and cust_type = #{custType}</if>
            <if test="companyType != null "> and company_type = #{companyType}</if>
            <if test="invoiceUp != null  and invoiceUp != ''"> and invoice_up = #{invoiceUp}</if>
            <if test="creditCode != null  and creditCode != ''"> and credit_code = #{creditCode}</if>
            <if test="bank != null  and bank != ''"> and bank = #{bank}</if>
            <if test="bankAccount != null  and bankAccount != ''"> and bank_account = #{bankAccount}</if>
            <if test="phoneNum != null  and phoneNum != ''"> and phone_num = #{phoneNum}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="extend != null  and extend != ''"> and extend = #{extend}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectAppUserById" parameterType="Long" resultMap="AppUserResult">
        <include refid="selectAppUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppUser" parameterType="com.industrial.entity.AppUser" useGeneratedKeys="true" keyProperty="id">
        insert into app_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null and openid != ''">openid,</if>
            <if test="company != null">company,</if>
            <if test="clientCode != null">client_code,</if>
            <if test="brief != null">brief,</if>
            <if test="registrant != null">registrant,</if>
            <if test="registratTime != null">registrat_time,</if>
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="mobile != null">mobile,</if>
            <if test="custType != null">cust_type,</if>
            <if test="companyType != null">company_type,</if>
            <if test="invoiceUp != null">invoice_up,</if>
            <if test="creditCode != null">credit_code,</if>
            <if test="bank != null">bank,</if>
            <if test="bankAccount != null">bank_account,</if>
            <if test="phoneNum != null">phone_num,</if>
            <if test="address != null">address,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="extend != null">extend,</if>
            <if test="deleted != null">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null and openid != ''">#{openid},</if>
            <if test="company != null">#{company},</if>
            <if test="clientCode != null">#{clientCode},</if>
            <if test="brief != null">#{brief},</if>
            <if test="registrant != null">#{registrant},</if>
            <if test="registratTime != null">#{registratTime},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="custType != null">#{custType},</if>
            <if test="companyType != null">#{companyType},</if>
            <if test="invoiceUp != null">#{invoiceUp},</if>
            <if test="creditCode != null">#{creditCode},</if>
            <if test="bank != null">#{bank},</if>
            <if test="bankAccount != null">#{bankAccount},</if>
            <if test="phoneNum != null">#{phoneNum},</if>
            <if test="address != null">#{address},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="extend != null">#{extend},</if>
            <if test="deleted != null">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateAppUser" parameterType="com.industrial.entity.AppUser">
        update app_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="openid != null and openid != ''">openid = #{openid},</if>
            <if test="company != null">company = #{company},</if>
            <if test="clientCode != null">client_code = #{clientCode},</if>
            <if test="brief != null">brief = #{brief},</if>
            <if test="registrant != null">registrant = #{registrant},</if>
            <if test="registratTime != null">registrat_time = #{registratTime},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="custType != null">cust_type = #{custType},</if>
            <if test="companyType != null">company_type = #{companyType},</if>
            <if test="invoiceUp != null">invoice_up = #{invoiceUp},</if>
            <if test="creditCode != null">credit_code = #{creditCode},</if>
            <if test="bank != null">bank = #{bank},</if>
            <if test="bankAccount != null">bank_account = #{bankAccount},</if>
            <if test="phoneNum != null">phone_num = #{phoneNum},</if>
            <if test="address != null">address = #{address},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="extend != null">extend = #{extend},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppUserById" parameterType="Long">
        delete from app_user where id = #{id}
    </delete>

    <delete id="deleteAppUserByIds" parameterType="String">
        delete from app_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>