<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppUserAddressMapper">
    
    <resultMap type="com.industrial.domin.AppUserAddress" id="AppUserAddressResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="uid"    column="uid"    />
        <result property="sex"    column="sex"    />
        <result property="mobile"    column="mobile"    />
        <result property="phone"    column="phone"    />
        <result property="addrType"    column="addr_type"    />
        <result property="address"    column="address"    />
        <result property="detail"    column="detail"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="deleted"    column="deleted"    />
        <result property="addrTypeName"    column="addrTypeName"    />
        <result property="sexName"    column="sexName"    />
        <result property="isdefault"    column="isdefault"    />
    </resultMap>

    <sql id="selectAppUserAddressVo">
        select id, user_id, name, uid, sex, mobile, phone, addr_type, address, detail, update_time, delete_time, deleted,isdefault from app_user_address
    </sql>

    <sql id="selectAppUserAddressVo1">
        select id, user_id, name, uid, sex, mobile, phone, addr_type, address, detail, update_time, delete_time, deleted,isdefault
        ,IF(sex=0,'男',IF(sex=2,'保密','女')) as sexName,IF(addr_type=0,'公司地址','个人地址') as addrTypeName from app_user_address
    </sql>

    <select id="selectAppUserAddressList" parameterType="com.industrial.domin.AppUserAddress" resultMap="AppUserAddressResult">
        <include refid="selectAppUserAddressVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="uid != null  and uid != ''"> and uid = #{uid}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="addrType != null "> and addr_type = #{addrType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
            <if test="deleteTime != null "> and delete_time = #{deleteTime}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="isdefault != null "> and isdefault = #{isdefault}</if>
        </where>
    </select>
    <select id="selectAppUserAddressByUserId" parameterType="Long" resultMap="AppUserAddressResult">
        <include refid="selectAppUserAddressVo1"/>
        <where>
            <if test="userId != null "> and user_id = #{id}</if>
        </where>
    </select>
    
    <select id="selectAppUserAddressById" parameterType="Long" resultMap="AppUserAddressResult">
        <include refid="selectAppUserAddressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppUserAddress" parameterType="com.industrial.domin.AppUserAddress" useGeneratedKeys="true" keyProperty="id">
        insert into app_user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="uid != null and uid != ''">uid,</if>
            <if test="sex != null  and sex != ''">  sex,</if>
            <if test="mobile != null and mobile != ''">mobile,</if>
            <if test="phone != null  and phone != ''">  phone,</if>
            <if test="addrType != null">addr_type,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="detail != null and detail != ''">detail,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteTime != null">delete_time,</if>
            <if test="deleted != null">deleted,</if>
            <if test="isdefault != null">isdefault,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="uid != null and uid != ''">#{uid},</if>
            <if test="sex != null  and sex != ''">  #{sex},</if>
            <if test="mobile != null and mobile != ''">#{mobile},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="addrType != null">#{addrType},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="detail != null and detail != ''">#{detail},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="isdefault != null">#{isdefault},</if>
         </trim>
    </insert>

    <update id="updateAppUserAddress" parameterType="com.industrial.domin.AppUserAddress">
        update app_user_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="uid != null and uid != ''">uid = #{uid},</if>
            <if test="sex != null  and sex != ''">  sex = #{sex}</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="phone != null  and phone != ''">phone = #{phone}</if>
            <if test="addrType != null">addr_type = #{addrType},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="detail != null and detail != ''">detail = #{detail},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="isdefault != null">isdefault = #{isdefault},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppUserAddressById" parameterType="Long">
        delete from app_user_address where id = #{id}
    </delete>

    <delete id="deleteAppUserAddressByUserId" parameterType="Long">
        delete from app_user_address where user_id = #{id}
    </delete>

    <delete id="deleteAppUserAddressByIds" parameterType="String">
        delete from app_user_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>