<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrial.mapper.AppWorkOrderMapper">
  <resultMap id="BaseResultMap" type="com.industrial.domin.AppWorkOrder">
    <!--@mbg.generated-->
    <!--@Table app_work_order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="start_user" jdbcType="INTEGER" property="startUser" />
    <result column="handling_user" jdbcType="INTEGER" property="handlingUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="extent" jdbcType="TINYINT" property="extent" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `number`, title, `type`, start_user, handling_user, create_time, update_time, 
    `status`, extent, deleted
  </sql>
</mapper>